.grid_2.small.alpha{:class => @item_rep.path == '/projektierung/' ? 'current' : ''}
  %a{:href => "/projektierung/", :title => 'Projektierung - Planung und Kosten einer Solaranlage / Photovoltaik-Anlage'}
    %img{:src => '/assets/images/projektierung.jpg', :width => 138, :height => 50, :alt => 'Projektierung - Planung und Kosten einer Solaranlage / Photovoltaikanlage'}
    %h4= "Projektierung"
    
.grid_2.small{:class => @item_rep.path == '/finanzierung/' ? 'current' : ''}
  %a{:href => "/finanzierung/", :title => 'Finanzierung einer Solaranlage / Photovoltaikanlage'}
    %img{:src => '/assets/images/finanzierung.jpg', :width => 138, :height => 50, :alt => 'Finanzierung einer Solaranlage / Photovoltaikanlage'}
    %h4= "Finanzierung"

.grid_2.small{:class => @item_rep.path == '/solarmontage/' ? 'current' : ''}
  %a{:href => "/solarmontage/", :title => 'SolarMontage - Montage einer Solaranlage / Photovoltaikanlage'}
    %img{:src => '/assets/images/solarmontage.jpg', :width => 138, :height => 50, :alt => 'SolarMontage - Montage einer Solaranlage / Photovoltaikanlage'}
    %h4= "SolarMontage"
    
.grid_2.small{:class => @item_rep.path == '/solarwartung/' ? 'current' : ''}
  %a{:href => "/solarwartung/", :title => 'SolarWartung - Wartung einer Solaranlage / Photovoltaikanlage'}
    %img{:src => '/assets/images/solarwartung.jpg', :width => 138, :height => 50, :alt => 'SolarWartung - Wartung einer Solaranlage / Photovoltaikanlage'}
    %h4= "SolarWartung"
             
.grid_2.small{:class => @item_rep.path == '/solarreinigung/' ? 'current' : ''}
  %a{:href => "/solarreinigung/", :title => 'SolarReinigung - Reinigen einer Solaranlage / Photovoltaikanlage'}
    %img{:src => '/assets/images/solarreinigung.jpg', :width => 138, :height => 50, :alt => 'SolarReinigung - Reinigen einer Solaranlage / Photovoltaikanlage'}
    %h4= "SolarReinigung"

.grid_2.small.omega{:class => @item_rep.path == '/sicherheit/' ? 'current' : ''}
  %a{:href => "/sicherheit/", :title => 'Sicherheitskonzept - Sicherheit von Solaranlagen / Photovoltaikanlagen'}
    %img{:src => '/assets/images/sicherheit.jpg', :width => 138, :height => 50, :alt => 'Sicherheitskonzept - Sicherheit von Solaranlagen / Photovoltaikanlagen'}
    %h4= "Sicherheit"

